.site-expertise{
  padding: 100px 0;
  background: $gray;
  &-list{
    padding: 0;
    margin: 10px 0 0 20px;
    @include mobile{
      text-align: center;
      margin: 0;
    }
    li{
      list-style: none;
      font-size: 25px;
      font-weight: 300;
      color: $text-color-dark;
      &:not(:last-child){
        margin-bottom: 10px;
      }
    }
  }
}
.site-overview{
  padding: 100px 0;
  background: $white;
  h2{
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 15px;
    @include desktop{
      font-size: 40px;
      text-align: left;
    }
    @include mobile{
      font-size: 40px;
      text-align: center;
    }
  }
  h3{
    font-weight: 400;
    line-height: 60px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 25px;
    @include desktop{
      text-align: left;
    }
    @include mobile{
      text-align: center;
    }
  }
  p{
    font-size: 20px;
    font-weight: 300;
    @include desktop{
      text-align: left;
    }
    @include mobile{
      text-align: center;
    }
  }
}
